<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="./stylesheets/styles.css">
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
    <title>{{title}}</title>
</head>
<body>
    {{!-- Nav Bar --}}
    <ul class="navigationList">
        <li class="navigationListItem"><a class="navigationLink" href="/funThings">Fun</a></li>
        <li class="navigationListItem"><a class="navigationLink" href="myMusic">Music</a></li>
        <li class="navigationListItem"><a class="navigationLink" href="/programming">Programming</a></li>
        <li class="navigationListItem"><a class="navigationLink" href="/" value="Home">Home</a></li>
    </ul>
    <div class="bodyDiv">
        {{!-- <img class="largeLogo" src="images/logo/KR_Logo_large.svg" alt="Logo"> --}}
        <img class="largeLogo" src="/images/logo/KR_Logo_Large.svg" alt="Logo"> {{!server logo location}}
        {{{body}}}
    </div>
</body>
</html>