<h1 class="pageTitle">Welcome to my World!</h1>


<div class="carousel">
    <button class="carousel__button carousel__button--left bttn is-hidden"><</button>
    <div class="carousel__track-container">
        <ul class="carousel__track">
            {{#each imgs}}
            <li class="carousel__slide">
                <div class="carousel__slide__img-container">
                    <img class="carousel__image" src="{{this.file}}">
                </div>
            </li>
            {{/each}}
        </ul>
    </div>
    <button class="carousel__button carousel__button--right bttn">></button>
    <div class="carousel__nav">
        <button class="carousel__indicator current-slide"></button>
        <button class="carousel__indicator"></button>
        <button class="carousel__indicator"></button>
        <button class="carousel__indicator"></button>
        <button class="carousel__indicator"></button>
    </div>
</div>
 <script src="/scripts/pageCarousel.js"></script>