<h1 class="pageTitle">Welcome to my World!</h1>

<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eligendi quisquam natus tenetur ipsam exercitationem maxime dignissimos officiis quibusdam tempora expedita. Necessitatibus, ab! At molestiae velit consequuntur veniam adipisci, vero eos?</p>

<h2>H2 Heading</h2>

<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Architecto quod explicabo quis possimus debitis totam odit minus! Ratione aliquam, quidem ex laborum id quisquam placeat ea repellat quas tenetur at!</p>

<h3>h3 Heading</h3>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima distinctio maiores dicta sapiente eos voluptate praesentium, ipsa sequi cum nemo blanditiis aperiam consequuntur obcaecati non est amet corporis cumque labore.</p>

<form>
    <input class="homeInput" type="textfield">
    <input class="bttn" type="submit">
</form>