<link rel="stylesheet" href="owlcarousel/owl.carousel.min.css">
<link rel="stylesheet" href="owlcarousel/owl.theme.default.min.css">

<div class="owl-carousel">
    <div>INSERT CONTENT</div>
</div>

<h1 class="pageTitle">Welcome to my World!</h1>
<script src="./scripts/pageCarousel.js"></script>
<script src="./scripts/jquery.min.js"></script>
<script src="./owlcarousel/owl.carousel.min.js"></script>