<h1 class="pageTitle">{{title}}</h1>

<div class="musicIntro">
    <p>There was a time, long ago, when music ruled the roost. Nights were filled with singing, dancing, drinking, and general revelry. My car at the time, a 2001 Toyota Highlander, was perpetually filled with music gear. Why unload after the gig if you were just going to put it all back in the car the next night? There was a lot of music made but two groups emerged during that time. The first was <a class="link" href="https://soundcloud.com/user-217503255/tracks" target="_blank">Love Ritual</a>, a rock group who really focused on drinking, rocking out, and a grittier form of music. The second was a group called <a class="link" href="http://www.hvamusikk.com" target="_blank">Hva</a>, which had a distinctly folksier feel. In Hva, I could really stretch out my fingerstyle guitar chops. Aside from those two groups there was much playing of jazz and other improvised styles. Below you'll find some music from that time.</p>
</div>

<h2>Let's Hear It...</h2>

<ul id="musicPlayer">
    {{#each songs}}
    <li>
        <audio src={{this.song}} controls>Your browser doesn't support the audio element.</audio>
        <span class="mpSongCompleteBlock">
            <span class="mpInfoSpan"><span class="mpSongBand">{{this.band}}</span></span> 
            <span class="mpInfoSpan"><span class="mpSongTitle">{{this.title}}</span></span>
        </span>
    </li>
    {{/each}}
</ul>