<h1 class="pageTitle">{{title}}</h1>

<div class="fun_body">
    <h2>Space</h2>
    <div class="fun_body">
        <h3>Empyrion - Galactic Survival</h3>
        I really enjoy survival games and space. Put em together and BOOM, you've got an amazing game. This one is in early access. <br>
        <a href="https://store.steampowered.com/app/383120/Empyrion__Galactic_Survival/" target="_blank">
        <img src="https://i.imgur.com/9JabKOY.jpg" style="width:560px;height:auto;" alt="Empyrion - Galactic Survival image"></a>
    </div>
    <div class="fun_body">
        <h3>EverydayAstronaut</h3>
        <p>This guy gives great insight into the burgeoning commercial space industry. We're truly living in exciting times!</p>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/RqLNIBAroGY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <h2>Snowboarding</h2>
    <div class="fun_body">
        <p>Growing up near the ocean and plenty of skateboarding really set me up to enjoy this sport. There are several great youtube channels but here are some of my favorites.</p>

        <iframe width="560" height="315" src="https://www.youtube.com/embed/HCRKUCRahpU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

        <iframe width="560" height="315" src="https://www.youtube.com/embed/JZ9asecKgwg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

        <iframe width="560" height="315" src="https://www.youtube.com/embed/-p_Nu4AHM6Q" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <h2>Music</h2>
    <div class="fun_body">
        <h3>Jacob Collier</h3>
        <p>This guy is one of my favorites. He is an incredible musician.</p>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/IlFD298wTOM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div class="fun_body">
        <h3>Tigran Hamasyan</h3>
        <p>Tigran offers a very unique take on music. This is one of those songs that I listen to on repeat.</p>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/KtMDfBPghgE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>

</div>