<h1 class="pageTitle">{{title}}</h1>

<div class="programming-info">
    <h2>Links</h2>
    <p>Lately, I've been learning a lot about programming. Here are some links:</p> 
    <ul class="programming-links">
        <li>Click <a id="linkedin-link" href="https://www.linkedin.com/in/kyle-reilly-a5443857/">here</a> to view my linkedin.</li>
        <li>My github account can be found <a href="https://github.com/kpreilly">here</a>.</li>
        <li>You can <a href="documents/Programming_Resume.pdf" download>download</a> my resume, or open it in a new <a href="documents/Programming_Resume.pdf" target="_blank">tab</a>.</li>
    </ul>
    
</div>

<div class="programming-form">
    <h2>Form Handling</h2>
    <form action=" http://web.engr.oregonstate.edu/~zhangluy/tools/class-content/form_tests/check_request.php" target="_blank" method="get">
        <p>Check out this GET requester.<br>
        <input id="programming__email-input" type="email" name="user-email" value="smoochy@gmail.com">
        </p>
    </form>
</div>
