body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color:rgb(63,61,61);
    font-size: 16px;
    line-height: 30px;
}

body p {
    margin-left: 20px;
}

a {
    text-decoration: none;
    color: #602D91;
}

ul.navigationList {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(63, 61, 61);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

li {
    text-decoration: none;
    list-style-type: none;
}

li.navigationListItem {
    float: right;
}

li a.navigationLink {
    font-family: Arial;
    font-style: italic;
    font-weight: bold;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #00AAAD;
}

.bodyDiv {
    padding: 20px;
    margin-top: 30px;
    background-color: rgb(245, 245, 245);
    height: 100vh;
}

.largeLogo {
    width: 300px;
    padding-top: 20px;
    margin-bottom: 40px;
}

h1.pageTitle {
    color: #00AAAD;
    font-style: italic;
}

h2 {
    color: #602D91;
    font-weight: 400;
    font-style: italic;
}

h3 {
    color: #666666;
    font-weight:bold;
    font-style:italic;
}

.bttn {
    background-color: #B2D235;
    color: rgb(63,61,61);
    font-size: 14px;
    font-style: italic;
    padding: 10px 20px;
}

.link {
    color:#602D91;
    text-decoration: none;
}

.musicIntro {
    margin: 0px 20px 40px 20px;
    
}

#musicPlayer {
    background-color: rgb(245, 245, 245);
    padding: 20px;
    width: 700px;
    margin: 0 auto;
    border: dotted 10px #B2D235;
}

#musicPlayer li {
    margin: 20px;   
}

#musicPlayer span {
    margin: 0px;
    padding: 0px;
}

#musicPlayer div{
    font-weight:500;
}

#musicPlayer audio {
    width: 300px;
    margin-right: 20px;
}

.mpInfoSpan {
    display:block
}

.mpSongCompleteBlock {
    display: inline-block;
}

.mpSongBand {
    font-size: 32px;
    font-style: italic;
    font-weight: bold;
    color: #602D91;
}

.mpSongTitle {
    font-size: 22px;
    font-style: italic;
    color: #F15A22;
}

/* Carousel Styling */

.carousel {
    position: relative;
    height: 600px;
    width: 80%;
    margin: 0 auto;
}

.carousel__slide__img-container {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.carousel__image {
    width:100%;
    height: 100%;
    object-fit: cover;
}

.carousel__button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 30px;
    cursor: pointer;
    font-size: 20px;
    text-align: center;
    border: 0;
}

.carousel__button--left {
    left: -40px;
}

.carousel__button--right {
    right: -40px;
}

.carousel__track-container {
    height: 100%;
    position: relative;
    overflow: hidden;
}

.carousel__track {
    padding: 0;
    margin: 0;
    position: relative;
    height: 100%;
    list-style: none;
    transition: transform 250ms ease-in;
}

.carousel__slide {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

.carousel__nav {
    display: flex;
    justify-content: center;
    padding: 10px 0;
}

.carousel__indicator {
    border-radius: 50%;
    width: 20px;
    height: 20px;
    background: #602D91;
    margin: 0 7px;
    cursor: pointer;
}

.carousel__indicator.current-slide {
    background: #00AAAD;
}

.carousel__indicator.not-selected {
    background: #602D91;
}

.is-hidden { display: none; }

/* Programming styles  */
.programming-links {
}


#programming__email-input {
    width: 275px;
    height: 20px;
}

/* otherFunThings styles */

.fun_body {
    margin-left: 10px;
    margin-bottom: 0px;
}

.scroll-box {
    overflow: auto;
    margin: 0 auto;
    width: 590px;
    height: 600px;
    border: dotted 10px #B2D235;
}


/* width */
div.scroll-box::-webkit-scrollbar {
    width: 10px;
}

/* Track */
div.scroll-box::-webkit-scrollbar-track {
    background: gb(245, 245, 245);
}

/* Handle */
div.scroll-box::-webkit-scrollbar-thumb {
    background: #602D91
}

/* Handle on hover */
div.scroll-box::-webkit-scrollbar-thumb:hover {
    background: #F15A22
}